:root {
  --main-bg-color: rgb(245, 245, 245);
  --main-color: rgb(32, 0, 216);
  --main-font: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--main-bg-color);
  color: var(--main-color);
  font-family: var(--main-font);
  display: flex;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

button {
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px var(--main-color);
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  font-family: var(--main-font);
  color: var(--main-color);
  cursor: pointer;
  transition: 500ms ease;
}

button:hover {
  border-radius: 25px;
  box-shadow: 4px 4px 0px var(--main-color);
}

.blur {
  filter: blur(8px);
}

.memory-container {
  display: flex;
  width: 80%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 20%;
  height: 100%;
  box-shadow: 2px 0 15px rgb(170, 170, 170);
}

.timer {
  font-size: 50px;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  margin: auto;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(100, 94, 131);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}

/* Flips card */
.memory-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  backface-visibility: hidden;
}

.front {
  background-color: #fff;
  transform: rotateY(180deg);
}

.back {
  background: #fff;
}

.start-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.096);
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgb(126, 126, 126);
  border-radius: 10px;
  height: 40%;
  width: 30%;
}

.score {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgb(126, 126, 126);
  border-radius: 10px;
  height: 50%;
  width: 35%;
}

.moves {
  margin-top: 20px;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 0.8s linear;
}

@media (max-width: 850px) {
  body {
    flex-direction: column;
  }

  .memory-container {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    height: 40%;
  }
}
